.mvdp-frame {
  width: 100%;
  height: 100%;
}

.mvdp-crop {
  width: 100%;
  overflow: hidden;
}

.mvdp-video {
  position: relative;
}

.mvdp-playbar {
  background-color: rgb(255, 128, 234);
  width: 100%;
  height: 48px;
  display: flex;
}

.mvdp-icon {
  width: 36px;
  fill: white;
  margin: 0 6px;
}

.mvdp-trackbar {
  background-color: darkolivegreen;
  width: 100%;
  height: 96px;
  display: flex;
  cursor: e-resize;
}

.mvdp-track-indicator {
  background-color: gray;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  margin: auto;
  cursor: pointer;
}

.mvdp-active-track {
  background-color: aqua;
}

.test {
  display: flex;
}