.mvdp-layout {
  width: 100%;
  height: 100%;
}

.mvdp-composite {
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-template-areas: 'layer-div';
}

.mvdp-layer {
  grid-area: layer-div;
}

.mvdp-spinner-layer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.mvdp-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mvdp-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-top: 4px solid white;
  border-radius: 50%;
}

.mvdp-video {
  position: relative;
  grid-area: layer-div;
}

/* Loading spinner animation */
.mvdp-spinner {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: mvdp-rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: mvdp-rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: mvdp-rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes mvdp-rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes mvdp-rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@keyframes mvdp-rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
